:root {
    font-family: Consolas, 微软雅黑;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    max-width: 800px;
    margin: auto;
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: 0.75s;
}

.logo.tauri:hover {
    filter: drop-shadow(0 0 2em #24c8db);
}

.row {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.p-speeddial-action {
    color: var(--cyan-300);
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
        color: #24c8db;
    }
}

.p-speeddial-action {
    text-decoration: none;
}

.p-card .p-card-body {
    padding: .5rem;
}

.titlebar {
    height: 30px;
    background: #329ea3;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button:hover {
    background: #5bbec3;
}

/* html,
body {
  background: transparent !important;
} */


.p-datatable-tbody > tr > td, p-column-header-content {
    text-align: center;
}

.p-datatable .p-column-header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

code {
    font-family: Consolas, 微软雅黑;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    color: #fff;
    background-color: #fff2;
    padding: 0.1em 0.3em;
    border-radius: 0.25em;
    margin: 0 0.2em;
    white-space: pre-wrap;
    word-break: break-all;
}

.code {
    font-family: Consolas, 微软雅黑;
}

.v-markdown-rendered {
    display: grid;
}

.v-markdown-rendered > p {
    margin-block-start: .4em;
    margin-block-end: .4em;
}